* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
}

.container {
  width: 1600px;
  margin: auto;
}
.row::after {
  content: '';
  display: block;
  clear: both;
}
section {
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  float: left;
}
h1 {
  font-size: 50px;
  font-weight: bold;
}
h1 span {
  color: orange;
}
#first {
  background-image: url(/image/top-banner.png);
  background-repeat: no-repeat;
}
.half-width a {
  background-image: linear-gradient(lightsalmon, tomato);
  text-decoration: none;
  padding: 12px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 15px;
}

h2 {
  font-size: 40px;
}
#dream-big {
  background-image: url(/image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.another {
  padding-left: 100px;
}
